root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{app/index.js,test.js}]
indent_style = tab
indent_size = 1

[*.md]
trim_trailing_whitespace = false
